<div>
  <alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</alert>
</div>
<div id="CalendarContent">
	<div id="listSources">
		<table class="table table-condensed">
			<thead>
				<th>
				</th>
				<th>
						<div style="display:table-cell; vertical-align:middle;float: left;">Calendars</div>
						<div style="float: right;"><a id="btnAdd" name="btnAdd" href="javascript:void(0)">Add</a></div>
				</th>
			</thead>
			<tbody>
				<tr style="background-color:{{eventSource.color}};color:{{eventSource.textColor}}" ng-repeat="eventSource in eventSources">
					<td>
						<input class="styled" type="checkbox" ng-model="eventSource.visible" ng-change="change(eventSource,eventSource.visible)" name="group" id="{{eventSource.eventID}}" ng-checked="{{eventSource.visible}}"/>
					</td>
					<td>
						{{eventSource.name}}
					</td>
				</tr>
			</tbody>
  		</table>
	</div>
	<div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" calendar="groupCalendar"></div>
</div>
<script type="text/javascript">
</script>
<div id="eventContent" title="Event Details" style="display:none;">
    Start: <span id="startTime"></span><br>
    End: <span id="endTime"></span><br><br>
    All Day : <span id="allDay"></span><br><br>
    <p id="eventInfo"></p>
</div>

<div id="addCalendar" title="Create New Calendar" style="display:none;">
	<form class="form-horizontal">
	<fieldset>

	<!-- Form Name -->
	<legend>Form Name</legend>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-3 control-label" for="calName">Calendar Name</label>  
	  <div class="col-sm-8">
	  		<input id="calName" name="calName" type="text" placeholder="Enter Name" class="form-control input-md" required="">
	  </div>
	</div>

	<!-- Text input-->
	<div class="form-group">
	  <label class="col-md-3 control-label" for="startDate">Start Date</label>  
	  <div class="col-sm-4">
	  		<input id="startDate" name="startDate" type="text" placeholder="" class="form-control input-md" required="">
	    
	  </div>
	</div>

	<!-- Textarea -->
	<div class="form-group">
	  <label class="col-md-3 control-label" for="calDesc">Description</label>
	  <div class="col-sm-8">                     
	    <textarea class="form-control" id="calDesc" rows=4 name="calDesc"></textarea>
	  </div>
	</div>

	</fieldset>
	</form>
</div>
<script type="text/javascript">
	$(function() {
		$( "#startDate" ).datepicker({
			showOn: "button",
      		buttonImage: "images/calendar.gif",
      		buttonImageOnly: true,
      		buttonText: "Select date"			
		});	
	});	
</script>
